@import "tailwindcss" source(".");


/* Color Scheme */
@theme {
  --color-bg: #f8f8f8;
  --color-bg2: #f0fdfa;
  --color-bg3: oklch(0.953 0.051 180.801);
  --color-ink: oklch(0.6 0.118 184.704);
  --color-primary: oklch(0.511 0.096 186.391);
}


/* Root color for body color and font */
:root[data-mantine-color-scheme='light'] {
  --mantine-color-body: var(--color-bg); 
  --mantine-color-text: var(--color-ink);
  /* --mantine-font-family: 'Noto Sans JP', sans-serif; */
}

:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: red; 
  --mantine-color-text: var(--color-text);
}

/* Manintine component styling  */
@import './mantine-paper.css';
@import './mantine-button.css';
@import './mantine-card.css';