/* 
  This module will be use as section for changing color only
*/

/* Hero Section */
.mantine-Paper-root[data-variant="hero"] {
  background-color: var(--color-bg3);
  color: var(--color-primary);
}

/* Section Background 1 */
.mantine-Paper-root[data-variant="bg1"] {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

/* Section Background 2 */
.mantine-Paper-root[data-variant="b2"] {
  background-color: var(--color-bg2);
  color: var(--color-primary);
}  


/* Devlog Section */
.mantine-Paper-root[data-variant="devlog"] {
  background-color: var(--color-bg2);
  color: var(--color-primary);
}
