/* 
  This module will be use as section for changing color only
*/

/* Hero Section */
.mantine-Paper-root[data-variant="hero"] {
  background-color: var(--color-bg3);
  color: var(--color-primary);
}

/* Project Section */
.mantine-Paper-root[data-variant="project"] {
  background-color: var(--color-bg2);
  color: var(--color-primary);
}


/* Services Section */
.mantine-Paper-root[data-variant="services"] {
  background-color: var(--color-bg);
  color: var(--color-primary);
}



/* Devlog Section */
.mantine-Paper-root[data-variant="devlog"] {
  background-color: var(--color-bg2);
  color: var(--color-primary);
}
