@import "tailwindcss" source(".");

@theme {
  --color-bg: #f8f8f8;
  --color-text: #134e4a;
  --color-primary: #0f766e;
  /* --color-btnGoldStart: #4a3a18;
  --color-btnGoldEnd: #6a5228;
  --color-goldLt: #e8c97a;
  --color-goldBd: #7a5e28; */


}


/* 
  The body selector MUST go outside the @theme block. 
  Wrapping it in @layer base is the standard Tailwind way 
  to ensure it loads in the correct order. 
*/
@layer base {
  body {
    /* font-family: 'Noto Sans JP', sans-serif; */
    background: var(--color-bg);
    color: var(--color-text);
  }
}



/* Root Default Theme */
:root {
  --mantine-color-body: var(--color-bg); 
  --mantine-color-text: var(--color-text);
  /* --mantine-font-family: 'Noto Sans JP', sans-serif; */
}

/* OR, the safer way: target the specific color schemes */
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: var(--color-bg); 
  --mantine-color-text: var(--color-text);
  /* --mantine-font-family: 'Noto Sans JP', sans-serif; */
}

:root[data-mantine-color-scheme='light'] {
  --mantine-color-body: var(--color-bg); 
  --mantine-color-text: var(--color-text);
  /* --mantine-font-family: 'Noto Sans JP', sans-serif; */

}


/* 
 ====== Button
*/
.mantine-Button-root[data-variant="filled"] {
  background-color: var(--color-primary);
}
